---
import { Image } from "astro:assets"

import type { Patch } from "~/tools/patch"

import sewButton from "./assets/sew-button.svg"

export interface Props {
  class?: string
  patch: Patch
}

const { class: classList, patch } = Astro.props

const patchWidth = Math.max(...patch.tiles.map((row) => row.length))
---

<div class:list={["grid items-center justify-center", classList]}>
  <div class="grid col-span-full grid-cols-subgrid gap-px">
    {
      patch.tiles.map((row, rowIndex) => {
        return row.map((tile, colIndex) => {
          if (tile === 0) {
            return null
          }

          return (
            <div
              class="col-span-2 bg-gray-300 ring-1 aspect-square flex justify-center items-center"
              style={{
                gridColumnStart: 2 * colIndex + 1,
                gridRowStart: rowIndex + 1,
              }}
            >
              {tile === 2 && (
                <Image src={sewButton} alt="Sew Button" class="size-3/5" />
              )}
            </div>
          )
        })
      })
    }

    <div class="col-span-full">
      <p class="font-bold">Price: {patch.price}</p>
      <p>Time: {patch.time}</p>
    </div>
  </div>
</div>
