---
import Root from "~/layouts/root.astro"
import PatchCard from "~/components/patch-card.astro"
import { ALL_PATCHES } from "~/tools/patch"

const maxPatchWidth = Math.max(
  ...ALL_PATCHES.flatMap((patch) => patch.tiles.map((row) => row.length)),
)
---

<script>
  import random from "seed-random"

  import { shuffle } from "~/tools/shuffle"
  import { searchQuery } from "~/tools/search-query"

  const SEED_QUERY_PARAM = "seed"
  const allPatchCards = document.querySelectorAll<HTMLDivElement>(".patch-card")

  searchQuery((params, setter) => {
    const seed = params.get(SEED_QUERY_PARAM)

    if (seed == null) {
      const clone = new URLSearchParams(params)

      clone.set(SEED_QUERY_PARAM, Date.now().toString())

      setter(clone)
    } else {
      const orders = shuffle(
        random(seed),
        Array.from(allPatchCards).map((_, index) => index),
        1,
      )

      for (const [index, patchCard] of allPatchCards.entries()) {
        // set order css property as orders[index]
        patchCard.style.order = String(orders[index])
        patchCard.classList.remove("opacity-0")
      }
    }
  })
</script>
<Root class="snap-y">
  <div class="max-w-sm mx-auto p-4 flex flex-col gap-y-4">
    {
      ALL_PATCHES.map((patch) => (
        <PatchCard
          class="patch-card snap-center opacity-0 transition-opacity"
          patch={patch}
        />
      ))
    }
  </div>
</Root>
