---
import Root from "~/layouts/root.astro"

import PatchCard from "~/components/patch-card/index.astro"
import { ALL_PATCHES } from "~/tools/patch"
import { shuffle } from "~/tools/shuffle"

const maxPatchWidth = Math.max(
  ...ALL_PATCHES.flatMap((patch) => patch.tiles.map((row) => row.length)),
)

const SHUFFLED_PATCHES = [ALL_PATCHES[0], ...shuffle(ALL_PATCHES.slice(1))]
---

<Root class="snap-y snap-mandatory">
  <div
    class="max-w-sm mx-auto grid p-6 divide-y-4 divide-dashed divide-gray-300 blue"
    style={{
      gridTemplateColumns: `repeat(${2 * maxPatchWidth}, minmax(0, 1fr))`,
    }}
  >
    {
      SHUFFLED_PATCHES.map((patch) => (
        <PatchCard
          class="col-span-full grid-cols-subgrid min-h-screen snap-center"
          patch={patch}
        />
      ))
    }
  </div>
</Root>
