---
import Root from "~/layouts/root.astro"
import PatchCard from "~/components/patch-card.astro"
import { ALL_PATCHES } from "~/tools/patch"

const maxPatchWidth = Math.max(
  ...ALL_PATCHES.flatMap((patch) => patch.tiles.map((row) => row.length)),
)
---

<script>
  import seed from "seed-random"

  import { shuffle } from "~/tools/shuffle"

  const allPatchCards = document.querySelectorAll<HTMLDivElement>(".patch-card")

  const orders = shuffle(
    seed("kek"),
    Array.from(allPatchCards).map((_, index) => index),
    1,
  )

  for (const [index, patchCard] of allPatchCards.entries()) {
    // set order css property as orders[index]
    patchCard.style.order = String(orders[index])
  }
</script>
<Root class="snap-y snap-mandatory">
  <div
    class="max-w-sm mx-auto grid p-6 divide-y-4 divide-dashed divide-gray-300 blue"
    style={{
      gridTemplateColumns: `repeat(${2 * maxPatchWidth}, minmax(0, 1fr))`,
    }}
  >
    {
      ALL_PATCHES.map((patch) => (
        <PatchCard
          class="patch-card col-span-full grid-cols-subgrid min-h-screen snap-center"
          patch={patch}
        />
      ))
    }
  </div>
</Root>
