---
import type { Patch } from "~/tools/patch"
import SewButton from "~/components/sew-button.astro"
import Hourglass from "~/components/hourglass.astro"

export interface Props {
  class?: string
  patch: Patch
}

const { class: classList, patch } = Astro.props
---

<div class:list={["grid items-center justify-center", classList]}>
  <div class="grid col-span-full grid-cols-subgrid gap-px">
    {
      patch.tiles.map((row, rowIndex) => {
        return row.map((tile, colIndex) => {
          if (tile === 0) {
            return null
          }

          return (
            <div
              class="col-span-2 bg-gray-300 ring-1 aspect-square flex justify-center items-center"
              style={{
                gridColumnStart: 2 * colIndex + 1,
                gridRowStart: rowIndex + 1,
              }}
            >
              {tile === 2 && <SewButton class="size-3/5" />}
            </div>
          )
        })
      })
    }

    <div
      class="mt-4 col-span-full flex justify-center gap-6 text-4xl tabular-nums"
    >
      <p class="flex items-center gap-2 text-blue-400">
        {patch.price}<SewButton outlined class="size-8" />
      </p>

      <p class="flex items-center gap-2 text-amber-900">
        {patch.time}<Hourglass class="size-8" />
      </p>
    </div>
  </div>
</div>
